:root {
	--white: #fefefe;
	--warm-white: #fff8f0;
	--brown: #4e342e;
	--orange: #ff7043;
	--black: #333;
	---grey: #555;
	--lg: 2.2rem;
	--med: 1.2rem;
	--sm: 1rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	background-color: var(--white);
	color: var(--black);
	display: flex;
	flex-direction: column;
	line-height: 1.6;
}

header {
	background-color: var(--black);
	color: var(--white);
	padding: 1em;
}

header nav {
	display: flex;
	justify-content: center;
	gap: 2em;
}

.nav-btn {
	cursor: pointer;
	font-size: var(--sm);
	background-color: transparent;
	color: var(--white);
	padding: 0.5rem 1rem;
	border: 2px solid transparent;
	border-radius: 4px;
	transition: all 0.3s ease;
}

.nav-btn:hover {
	background-color: var(--white);
	color: var(--black);
}

.nav-btn::after {
	content: "";
	display: block;
	border-bottom: 2px solid var(--orange);
	width: 40%;
	margin: 0 auto;
	transform: scaleX(0);
	transition: transform 0.3 ease;
}

.nav-btn.active::after {
	transform: scaleX(1);
}

#content {
	display: flex;
	justify-content: center;
	flex: 1;
	align-items: center;
}

#content main {
	width: 100%;
	max-width: 800px;
	text-align: center;
}

section h1 {
	font-size: var(--lg);
	margin-bottom: 1em;
}

section p {
	font-size: var(--med);
	color: var(---grey);
	margin-bottom: 1.5em;
}

.menu-btn {
	cursor: pointer;
	font-size: var(--sm);
	border: none;
	border-radius: 4px;
	padding: 0.75rem 1.5rem;
	background-color: var(--black);
	color: var(--white);
	transition: background-color 0.3s ease;
}

.menu-btn:hover {
	background-color: var(---grey);
}

/* Menu Section  */

.menu-section {
	padding: 2em;
	text-align: center;
	background-color: var(--warm-white);
}

.menu-section h2 {
	font-size: var(--lg);
	color: var(--brown);
	margin-bottom: 1.5em;
	font-family: Arial, Helvetica, sans-serif;
}

.menu-grid {
	display: grid;
	grid-template-columns: repeat(auo-fit, minmax(200px, 1fr));
	gap: 2em;
}

.menu-card {
	padding: 1em;
	border-radius: 5px;
	background-color: var(--white);
	overflow: hidden;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease;
}

.menu-card:hover {
	transform: translateY(-5px);
	cursor: pointer;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.menu-img {
	width: 100%;
	height: 350px;
	object-fit: cover;
	object-position: center;
	margin-bottom: 1em;
}

.menu-title {
	color: var(--brown);
	font-size: 1.5rem;
	font-weight: 600;
}

.menu-price {
	color: var(--orange);
	font-weight: 700;
}
